body{
    background-image: url(image/img7.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%; /* Set the maximum width of the image to 100% of its container */
    height: 600px;
 }
 h2{
    color: blue;
    text-align: center;
    font-family: Algerian;
}
.image-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .image {
    flex: 1 0 calc(33.33% - 20px);
  }
  
  img {
    width: 100%;
    height: auto;
  }
