body{
    background-image: url(image/img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%; /* Set the maximum width of the image to 100% of its container */
    height: 600px;
 }
 h3{
    color: rgb(230, 230, 244);
    text-align: center;
    font-family: Algerian;
}
header{
    width: 1140px;
    max-width: 80%;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    color: white;
}
